@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}
html {background: #FFF;}
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,ins,hr{margin: 0px;padding: 0px;}*/
body{font-size:12px;line-height:18px;text-align:center; overflow:hidden; text-decoration:none; font-family:"宋体";}
img{ border:none;}
.clear{clear:both; font-size:0px; overflow:hidden;}
table{empty-cells: show;border-collapse: collapse;}

.wrap{ width:100%; height:100%;}
.header{ width:100%; height:63px; background:url(../images/header-bg.gif) repeat-x; position:relative; border-bottom:solid 1px #005D94; text-align:left;font-size:12px;}
.header-right{ width:auto; text-align:right;height:63px; background:url(../images/header-r.jpg) no-repeat; position:absolute; right:0px; top:0px;}
.header-right ul{ margin:0px; padding:0px; list-style-type:none; padding-right:0px;}
.header-right ul li{font-size:12px; font-weight:bold; display:block; padding:10px 5px 0px 0px; color:#ffffff;}
.header-right ul li a{ text-decoration:none; color:#ffffff;}
.logo{ position:absolute; left:17px; top:10px; width:194px; height:39px; }
.logo-font{ position:absolute; left:180px; top:27px; display:block; width:175px; font-size:14px; color:#fff;}
.fwb{ font-weight:bold; font-size:16px;}

.login-div{ width:300px; height:300px; margin:0 auto; margin-top:100px; line-height:30px;}
.label{width: 50px;text-align:right;font-size: 12px; display:inline-block;}

.main{ width:100%; text-align:left;}
.sidebar{ width:192px; float:left;background:#E2EEFC;height: 100%;overflow:auto; position:relative; }
.ico-img{ width:7px; background:#69BCE7 url(../images/c_bg.gif) no-repeat; float:left; display:inline; height:auto; text-align:center; vertical-align:middle;}
.img-ico{ position:absolute; top:50%;}
.conment{ width:auto; float:left; background:#EBF4FD;}
.footer{color:#fff; line-height:25px; width:100%; clear:both; height:25px; border-top:1px solid #45A2D9; text-align:center; background:url(../images/footer-bg.gif) repeat-x;}

.i{position:absolute; width:3px; height:30px; right:0px; top:0px; background:url(../images/title-side-rt.gif) no-repeat;}

.sidebar-title{ /*width:192px;*/ height:30px; line-height:30px; background:url(../images/title-side.gif) repeat-x;display:block;}
.sidebar-title h2{ /*background:url(../images/title-side-lt.gif) no-repeat;*/ display:block; }
.sidebar-title h2 span{ color:#fff; padding-left:10px; font-size:14px;}

.sidebar-div{ width:190px; text-align:left; overflow:auto;border:solid 1px #E2EEFC; display:inline}
.sidebar-div ul { margin:10px 5px 10px 5px;}
.sidebar-div ul li{  background:url(../images/close.gif) 0px 3px no-repeat;list-style-type:none; padding-left:15px;white-space: nowrap;word-break:keep-all; cursor:pointer;}
.sidebar-div ul li a{ color:#000; text-decoration:none;}

.open{ line-height:25px; display:block}
.close{ background:url(../images/close.gif) 0px 3px no-repeat; line-height:25px;}
.conment-title{  height:30px; line-height:30px; background:url(../images/title-r.gif) right no-repeat; border-top:solid 1px #50A8DD; overflow:hidden; color:#fff; font-weight:bold;} 
.conment-title table tr td{ padding:0px 5px 0px 5px; height:30px;}
.conment-title table tr td a{color:#fff; text-decoration:none; height:30px; padding-left:20px; line-height:30px;}
.conment-div{ clear:both;overflow:hidden;overflow-x:hidden;overflow-y:auto;border:solid 1px #0069A0; border-bottom:none; border-right:none;}
.div{ padding: 10px 5px;}

.li-div{ margin:0px;}
.li-div li{ margin:0px;}

.add{background:url(../images/add.gif) 0px 3px no-repeat;}
.delet{background:url(../images/dele.gif) 0px 3px no-repeat;}
.editor{background:url(../images/editor.gif) 0px 3px no-repeat;}
.search{margin-right:0px;border:1;}

/*------------start table--------------*/
.bg-color-a{ background:#E8F7FE;}
.bg-color-b{ background:#fff;}
.table{empty-cells: show;border-collapse: collapse;border:solid 1px #81A7C6; border-top:none;}
.table thead{}
.table thead th{background:url(../images/table/table_tc.gif) repeat-x; height:34px; line-height:34px;color:#30659A; text-align:center; border-right:solid 1px #81A7C6;}
.table thead th span{}
.table tbody tr td{ line-height:29px; border:solid 1px #A2BDCD; text-align:center:;padding-left:5px;word-wrap:break-word;word-break:break-all;}
.a_input{margin-top:8px;}
.table tbody tr td.txc{text-align:center; padding-left:0px;} /*--复选框居中--*/
.table tbody tr td.int-btn{font-size:12px;}

.tab{border:solid 1px #81A7C6; line-height:29px;margin-left:100px;margin-top:40px;}
.tab tr td{ border:solid 1px #A2BDCD; padding-left:5px;word-wrap:break-word;word-break:break-all;background:#fff;}
.tab tr th{background:#E8F7FE;border:solid 1px #A2BDCD;text-align:right;color:#30659A; }
.tab tr td.txr{ }

.tab tr td.th－bg{background:#E8F7FE; height:34px; line-height:34px;color:#30659A; font-weight:bold; text-align:center;}

.div_page{ height:28px; line-height:28px; color:#002F5E; margin-top:10px;}
.total{ float:left; display:inline; width:38%; height:28px;}
.current{ padding:0px 5px 0px 5px;}
.total b{ color:#FF6000; font-weight:normal;}
.current b{ color:#FF6000; font-weight:normal;}
.bn_bn{ float:right;width:58%; height:28px; text-align:right; line-height:28px;}
.bn_bn .input{ width:20px; height:18px; border:0px; border-bottom:solid 1px #002F5E; background:none; margin:0px 5px;}
.bn_bn a{color:#FF6000; text-decoration:underline; padding:0px 5px 0px 5px;}
.bn_bn b{ font-weight:normal; cursor:pointer;}
.bn_bn font a{ color:#002F5E; text-decoration:underline; font-size:12px;}
.number{ float:right;padding:2px 5px 0px 5px;}
.switch_bn{ background:url(../images/table/switch_bn.gif) no-repeat; width:44px; height:20px; margin:3px 5px 0px;color:#002F5E; cursor:pointer; border:none;}

/*-----------error-------------*/

.error{font-weight:bold;color:#ff9955;}

.error-div{ padding:20px;}
.error-div p{line-height:25px;}

/*-------------enderror--------*/
.l-bg{ background:url(../images/bg.jpg) left bottom no-repeat;}
.tDiv{ position:absolute; border:1px solid black; background-color:#ffffdd }
.admin-td{font-weight:bold;font-style:italic; }

.searchinput{
	border-right-width: 0px;
	padding-left: 3px;
	width: 168px;
	font-family: arial;
	float: left;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #636365;
	margin-left: 4px;
	font-size: 8pt;
	vertical-align: middle;
	border-left-width: 0px;
	margin-right: 3px;
        height:16px;
}
.tu{ height:393px;width:555px; text-align:center; background:url("../images/home.gif"); position:relative;margin-left: 25%;margin-top: 25px;font-size:16px;}
.tu div{
position:absolute; 
}
.tu-1{left:6px;top:48px}
.tu-2{left:440px;top:39px}
.tu-3{left:42px;top:259px}
.tu-4{left:451px;top:252px}
.tu-5{left:340px;top:337px}

