{% extends "base.html" %} 
{% block content %}
<div class="conment-title">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
                        <td>补办会员卡</td>
					</tr>
				</table>
</div>
<div class="conment-div">
<form id="edit" method="post" action="{% url cardsretroactive%}">{% csrf_token %}
<table class="tab">
<tr>
    <td><font color="ff0000">{{error}}</font></td> 
</tr>
<tr>
    <td>身份证号码：</td>
    <td><input id="member_id" style="width:142px;font-size:10pt;"  type="text" name="member_id" maxlength="18" /></td>  
</tr>
<tr>
    <td>新会员卡号码：</td>
    <td><input id="member_card_id" style="width:142px;font-size:10pt;"  type="text" name="member_card_id" maxlength="10" /></td>  
</tr>
</table>
<div style="margin-left:150px;margin-top:10px;">
<input type="submit" value="确定" class="btn"  />　<input type="button" value="返回" onClick="history.go(-1);" />
</div>
</form>
</div>

    </div>
    <div class="footer"></div>
{% endblock %}
