{% extends "base.html" %} 
{% block content %}
<script language=javascript>
function info(){ 
	if(document.getElementById("infoo").style.display == "none"){
           document.getElementById("infoo").style.display = "block";
		}
	else{  
		document.getElementById("infoo").style.display="none";
		
            } 
}
</script>
<div class="conment-title">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
                        <td>会员消费</td>
					</tr>
				</table>
</div>
<div class="conment-div">
<form method="POST" action="{%url cardss%}">{% csrf_token %}
<table style="margin-left:100px;margin-top:70px;">
<tr>
    <td>会员卡号: <input type="text"  name="cardid" value="{{member.member_card_id}}"/></td>
    <td>　<input type="submit"  value="查　询"/>　<font color=ff0000>{{error}}</font></td>
</tr>
</table>
</form>
<form method="POST" action="{%url cardsconsume%}">{% csrf_token %}
<table  style="margin-left:100px;margin-top:10px;" >
<tr>
    <td width="110px">
        姓名:　<input name="name" value="{{member.member_name}}" readonly style="width:50px;"/>
    </td>
    <td width="110px">
        等级:　<input name="rank" value="{{member.member_rank}}" readonly style="width:50px;"/>
    </td>
    <td width="110px">
        状态:　<input name="status" value="{{member.member_status}}" readonly style="width:50px;"/>　
    </td>
    <td width="130px">
        积分:　<input name="points" value="{{member.member_points}}" readonly style="width:50px;"/>　　
    </td>
    <td width="200px">
    　账户余额:　<input name="sur" value="{{member.member_surplus}}" readonly style="width:50px;"/>
    </td>
</tr>
</table>
<br><br>
<font color="#0066cc">　确认支付</font>
<hr color="#0066cc">
<table class="tab">
    <tr>
       <td>
           <font color="ff0000">{{error_m}}
       </td>
    </tr>
    <tr>
        <td>
            消费金额: <input name="price"  style="width:50px;" value="{{price}}"/>(元)　　　
        </td>
    </tr>
    <tr>
        <td>
            商品类别:<select name="types">                     
                        <option value="0">不积累积分</option>
                        {% for i in types%}
			<option value="{{i.id}}">{{i.goodstype}}</option>
			{% endfor %}
			</select> 　　
        </td>
    </tr>
    <tr>
        <td>
            支付方式: <select name="method">
                        <option value="0">刷会员卡</option>
			<option value="1">现金消费</option>
			</select>
        </td>
    </tr>
</table><br>
　　　　　　　　　　　<input type="submit" value="确认支付" />　<input type="button" value="返　回" onClick="history.go(-1);" />　　      
</form>

    </div>
   
{% endblock %}
