<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>
<link href="/media/css/main.css" rel="stylesheet" type="text/css" />
<!–[if IE 6]> 
<script type="text/javascript" src="/media/js/0.0.8a-min.js"></script> 
<script> 
	DD_belatedPNG.fix('.logo, img');  
</script> 
<![end if]–> 
<script src="/media/js/jquery/jquery-1.3.2.min.js" language="javascript"></script>
<script src="/media/js/window.js" language="javascript"></script>
<script src="/media/js/cookie.js" language="javascript"></script>
</head>

<body>
<div class="wrap">
	<div class="header">
	<div class="logo"><img src="/media/images/logo.png" /></div>
    	<div class="header-right">
        </div>
    </div>
    <div class="main">
      <div class="conment">
   	  <div class="conment-title"></div>
            
            <div class="conment-div l-bg">
            	
                <div class="login-div">
			<form id="login" class="cmxform" method="post" action="/login/" name="flogin">{% csrf_token %}
				{% if error != '0' %}
				
			   <div class = "fi">
                           <label class="error"> &nbsp;&nbsp;&nbsp;{{ error }}</label>
			   </div>
		           {% endif %}
			   
			   <div class="fi">
					<label class="label">用户名：</label>
					<input type="text" width=""value="{{ user }}" style="width:145px;font-size:10pt;" id="username_pageonly" name="username" tabindex="2" />
			   </div>
			   <div class="fi">
					<label class="label">密　码：</label>
					<input type="password" value="{{ password }}" style="width:145px;font-size:10pt;" id="userpassword_pageonly" name="password" tabindex="3" />
				</div>
				<div class="fi fi_jig">
					<label class="label">&nbsp;</label>&nbsp;<input type="checkbox" id="saveCookie" class="ipt-c" tabindex="4" name="usercheck">&nbsp;记住用户名和密码
					<a href="{%url getpassword%}">忘记密码?</a>
				</div>
			
				<div class="fi fi-btn">
					<label class="label">&nbsp;</label>&nbsp;<input  type="submit" value="登　录" onclick="login_sys()" class="btn" tabindex="5" id="submit" />
				</div>
				<div style="color:#F00" class="fi fi_jig" id="mes"></div>
			</form>
			
             	          
                    
                    
                </div>
                
            </div>
            
      </div>
  </div>

</div>
</body>
</html>
