{% extends "base_site.html" %} 
{% block content %}
<div class="conment-title">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
                        <td>注册会员</td>
					</tr>
				</table>
</div>
<div class="conment-div">
<form id="edit" method="post" action="{% url editmembers%}"><div style='display:none;'><input type='hidden' id='csrfmiddlewaretoken' name='csrfmiddlewaretoken' value='b773333d0c019876c1fee96ff0f98c9b' /></div>
<table class="tab">

<tr>
    <td>会员卡号：</td>
    <td><input id="id_member_card_id" style="width:142px;font-size:10pt;" type="text" name="member_card_id" maxlength="10" value="{{member.member_card_id}}" readonly/></td>
    
</tr>

<tr>
    <td>姓　　名：</td>
    <td><input id="id_member_name" style="width:142px;font-size:10pt;" type="text" name="member_name" maxlength="10" value="{{member.member_name}}"/></td>
    
</tr>

<tr>
    <td>密　　码:</td>
    <td><input id="id_member_password1" style="width:142px;font-size:10pt;" type="password" name="member_password1" maxlength="6" value="{{member.member_password}}"/></td>
    
</tr>

<tr>
    <td>确认密码:</td>
    <td><input id="id_member_password2" style="width:142px;font-size:10pt;" type="password" name="member_password2" maxlength="6" value="{{member.member_password}}"/>输入6位数字或字母</td>
    
</tr>

<tr>
    <td>性　　别：　　</td>
    <td><select name="member_sex" id="id_member_sex" value="{{member.member_sex}}">
<option value="F">男</option>
<option value="M">女</option>
</select></td>
    
</tr>

<tr>
    <td>身份证号:</td>
    <td><input id="id_member_id" style="width:142px;font-size:10pt;" type="text" name="member_id" maxlength="18" value="{{member.members_id}}"/></td>
    
</tr>

<tr>
    <td> 电　　话:</td>
    <td><input id="id_member_phone" style="width:142px;font-size:10pt;" type="text" name="member_phone" maxlength="20" value="{{member.member_phone}}"/></td>
    
</tr>

<tr>
    <td>等　　级:</td>
    <td><select name="member_rank" id="id_member_rank" value="{{member.member_rank}}">
<option value="A">普通会员</option>
<option value="B">银卡</option>
<option value="C">金卡</option>
</select></td>
    
</tr>

<tr>
    <td>状　　态:</td>
    <td><select name="member_status" id="id_member_status" value="{{member.member_status}}">
<option value="1">正常</option>
<option value="2">锁定</option>
<option value="3">挂失</option>
</select></td>
    
</tr>

<tr>
    <td>创建时间:</td>
    <td><input style="width:142px;font-size:10pt;" type="text" name="member_createtime" value="2012-04-18" id="id_member_createtime" value="{{member.member_create_time}}"/></td>
    
</tr>

<tr>
    <td>积　　分:</td>
    <td><input style="width:142px;font-size:10pt;" type="text" name="member_points" value="0" id="id_member_points" value="{{member.member_points}}"/>初始值为0</td>
    
</tr>

<tr>
    <td>账户余额:</td>
    <td><input style="width:142px;font-size:10pt;" type="text" name="member_surplus" value="0" id="id_member_surplus" value="{{member.member_surplus}}"/>初始值为0</td>
    
</tr>

</table>
<div style="margin-left:150px;margin-top:10px;">
<input type="submit" value="保　存" class="btn"  />
</div>
</form>
</div>

    </div>
    <div class="footer"></div>
{% endblock %}
