{% extends "base.html" %} 
{% block content %}

<div class="conment-title">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="add"><a href="{% url memregister %}">注册会员</a></td>
						<td class="delet"><a href="javascript:del_members('membersform','{% url delmembers%}');">注销会员</a></td>
						<td class="editor"><a href="javascript:editor_members('membersform','{% url editmembers%}');">修改资料</a></td>
					</tr>
				</table>
</div>
<div class="conment-div">
<div style="display:block" id="search">
<br>

<form action="{% url searchmembers %}" method="POST">
<table align="right">
    <tr>
        <td><img id= "add" src="/media/images/up.gif" onclick="show()"></td>
        <td>
           <input type="text" style="width:145px;font-size:10pt;color: #636365;" value="会员卡号", onblur="if(this.value=='')value='会员卡号';" onfocus="if(this.value=='会员卡号')value='';" name="list_search" tabindex="2" />
        </td>  
        <td>
        <div id="mem_search" style="display:none">
<table border="0" align="right">
<tr><td width="70px">　姓　　名:</td><td width="120px"><input type="text" name="mem_name" style="width:100px;font-size:10pt;color: #636365;", tabindex="2" /></td>
<td width="70px">等　　级:</td><td width="100px"><select name="mem_rank">
                        <option value="all" selected>请选择</option>
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="c">c</option>
			</select></td>
</tr>
</table>
</div>
        </td> 
        <td>
           <input type="submit" value="搜索"/>　
        </td>
    </tr>
</table>
</form>
<font style="margin-left:20px;" color="ff0000">*注: 会员等级, A代表普通会员, B代表银卡, C代表金卡.</font>
<br>
</div>
  <div class="div">
     <form id = 'membersform' action="" method="get"> {% csrf_token %}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
               <td width="5" background="/media/images/table/table_l.gif"></td>
               <td>
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                       <thead>
                           <tr><th width="4%"><input name="cb1" type="checkbox" id="checkall" onclick="CheckTitle('cb', 'checkall')"></th>
                               <th width="10%"><span>会员卡号</span></th>
                               <th width="10%"><span>姓名</span></th>
                               <th width="10%"><span>电话号</span></th>
                               <th width="10%"><span>会员等级</span></th>
                               <th width="10%"><span>注册时间</span></th>
                           </tr>
                       </thead>
                       {% for member in members %}
                       <tbody>
                        <td class="txc"><input type="checkbox" name="cb" id="{{ member.id }}" value="{{ member.id }}" onclick="check('cb', 'checkall')"/></td>
                               <td class="txc">{{member.member_card_id}}</td>
                               <td class="txc">{{member.member_name}}</td>
                               <td class="txc">{{member.member_phone}}</td>
                               <td class="txc">{{member.member_rank}}</td>
                               <td class="txc">{{member.member_create_time}}</td>
                       </tbody>
                        {% endfor %}

            </tr>
        </table>
     </form>
  </div>
</div>
{% endblock %} 
